<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    // Esto es la llamada a la funcion de abajo que busca y almacena la direccion
    // que le pasamos como parametro.
    codeAddress("c/Santa Agueda 9, Almazan");
    codeAddress("Soria");
    codeAddress("calle E, Camaretas, Soria");
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

 function codeAddress(address) {

    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          // esto agrega un marcador en la posicion (direccion) que le pasamos
          // como el parametro "address" que es un objeto
          var marker = new google.maps.Marker({
              map: map, 
              position: results[0].geometry.location
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  }
 
    
    google.maps.event.addDomListener(window, 'load', initialize);
</script> 
<div  id="map_canvas" style="width:100%; height:100%"></div>  